<body style="background-color:#b31621;">
<%#=require_relative 'stylesheets' %>
<!--<main role="main">-->

<!--  <div id="myCarousel" class="carousel slide" data-ride="carousel">-->
<!--    <ol class="carousel-indicators">-->
<!--      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>-->
<!--      <li data-target="#myCarousel" data-slide-to="1"></li>-->
<!--      <li data-target="#myCarousel" data-slide-to="2"></li>-->
<!--    </ol>-->
<!--    <div class="carousel-inner">-->
<!--      <div class="carousel-item active">-->
<!--        <img src= <%#=image_path("wall1.png") %>-->
<!--        <div class="container">-->
<!--          <div class="carousel-caption text-left">-->
<!--            <h1>Group Dance</h1>-->
<!--            <p>It is always very exciting because you always should be resposible not to let down your friends.</p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="carousel-item">-->
<!--        <img class="second-slide" src=<%#=image_path("shoes.jpg") %> href="myCarousel" alt="myCarousel" width="1920" height="1208">-->
<!--        <div class="container">-->
<!--          <div class="carousel-caption">-->
<!--            <h1>Dance Festival</h1>-->
<!--            <p>Festival dance is a form of Irish dance, which is separated from the "feis" movement in stepdancing! </p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="carousel-item">-->
<!--        <img class="third-slide" src="https://zealnyc.com/wp-content/uploads/2015/07/city-ballet-tschaikovsky-suite-no-3.jpg" alt="myCarousel">-->
<!--        <div class="container">-->
<!--          <div class="carousel-caption text-right">-->
<!--            <h1>Ballet</h1>-->
<!--            <p> The fundamentals of ballet haven't changed all that much since its invention in 15th-century Italy.</p>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">-->
<!--      <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
<!--      <span class="sr-only">Previous</span>-->
<!--    </a>-->
<!--    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">-->
<!--      <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
<!--      <span class="sr-only">Next</span>-->
<!--    </a>-->
<!--  </div>-->
<!--<div>-->
<!--  <img src="https://psv4.userapi.com/c6226/u66775402/docs/22d0bd01aad4/dance.gif?extra=Ewd39oWBMFK9T5FlmntfTet54CQgMz5AMt8RN6K8nNZNQE7I_C4zcXXNj8tHUACNlA0NO-NtJsHzLvnDWNhDbZ2qXFIx4H76GmpKxXqGiV5C53xIHaHYrBgSRgTzXoGvtu9MQG9LVsUXoMzCubRNBw" class="can_zoom" onmousemove="imgZoom(this);">-->
<!--  <img src="https://psv4.userapi.com/c6226/u66775402/docs/22d0bd01aad4/dance.gif?extra=Ewd39oWBMFK9T5FlmntfTet54CQgMz5AMt8RN6K8nNZNQE7I_C4zcXXNj8tHUACNlA0NO-NtJsHzLvnDWNhDbZ2qXFIx4H76GmpKxXqGiV5C53xIHaHYrBgSRgTzXoGvtu9MQG9LVsUXoMzCubRNBw">-->
<!--</div>-->
  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->
<img src=<%= image_path("wp2778177.jpg") %> width="100%" height="100%">
  <div class="container marketing">
    <!-- Three columns of text below the carousel -->
    <h2 class="text-typing">Thanks to ...</h2>

    <div class="row my-3" >


      <div class="col-lg-4">
        <img class="rounded-circle" src="https://upload.wikimedia.org/wikipedia/commons/6/66/Gabe_Newell_GDC_2010.jpg" alt="Generic placeholder image" width="140" height="140">
        <h2>Gabe Newell
          </h2>
        <p>Commonly known by his nickname Gaben, is an American computer programmer and businessman best known as the co-founder of the video game development and digital distribution company Valve Corporation.</p>
        <p><a class="btn btn-secondary" href="https://en.wikipedia.org/wiki/Gabe_Newell" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="rounded-circle" src= <%= image_path("4003497547.jpg") %> alt="Generic placeholder image width="150" height="140">
        <h2>Ice Frog</h2>
        <p>Is a pseudonymous video game designer known for being the lead designer of Defense of the Ancients (DotA), a custom Warcraft III: Reign of Chaos mod, as well as for the stand-alone sequel, Dota 2. </p>
        <p><a class="btn btn-secondary" href="https://en.wikipedia.org/wiki/IceFrog" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="square" src= "https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/Valve_Lobby_2016.jpg/250px-Valve_Lobby_2016.jpg" alt="Generic placeholder image width="150" height="140">
        <h2>Valve corp.  </h2>
        <p>is an American video game developer, publisher and digital distribution company headquartered in Bellevue, Washington. It is the developer of the software distribution platform Steam and the Half-Life, Counter-Strike, Portal, Day of Defeat, Team Fortress, Left 4 Dead, and Dota 2 games.</p>
        <p><a class="btn btn-secondary" href="https://ru.wikipedia.org/wiki/Valve" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
    <h2 class="text-typing">for their contribute into Dota 2</h2>


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">NEWS <span class="text-muted">It'll blow your mind.</span></h2>
        <p class="lead">Here you can get information about the festival and competitions!</p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" src= <%= image_path("fest.jpg")%> alt="Generic placeholder image">
      </div>
    </div>



    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">And lastly, this one. </h2>
        <p class="lead">Go dota ya sozdal</p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
  <script src="../../assets/js/vendor/popper.min.js"></script>
  <script src="../../dist/js/bootstrap.min.js"></script>
