<html>
<head>ABOUT</head>
<body>
<div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
  <div class="my-3 py-3">
    <h2 class="display-5">Узнавай о ивентах</h2>
    <p class="lead">В нашем приложении вы сможете узнать о различных турнирах и ивентах в мире доты!</p>
    <p class="lead">Помимо этого вы всегда сможете найти полезную информацию в разделе "skills"</p>
  </div>
  <div class="bg-light box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
</div>
<img src="https://psv4.userapi.com/c6226/u66775402/docs/22d0bd01aad4/dance.gif?extra=Ewd39oWBMFK9T5FlmntfTet54CQgMz5AMt8RN6K8nNZNQE7I_C4zcXXNj8tHUACNlA0NO-NtJsHzLvnDWNhDbZ2qXFIx4H76GmpKxXqGiV5C53xIHaHYrBgSRgTzXoGvtu9MQG9LVsUXoMzCubRNBw" class="can_zoom" onmousemove="imgZoom(this);">
<img src="https://psv4.userapi.com/c6226/u66775402/docs/22d0bd01aad4/dance.gif?extra=Ewd39oWBMFK9T5FlmntfTet54CQgMz5AMt8RN6K8nNZNQE7I_C4zcXXNj8tHUACNlA0NO-NtJsHzLvnDWNhDbZ2qXFIx4H76GmpKxXqGiV5C53xIHaHYrBgSRgTzXoGvtu9MQG9LVsUXoMzCubRNBw"

<script src="https://pagead2.googlesyndication.com/pagead/js/r20181205/r20180604/show_ads_impl.js"></script>
</body>
</html>
